body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: end;
  align-items: end;
  margin-top: 11rem;
  background-color: rgba(14,29,72,255);
}

.container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background: white;
  padding: 100px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 5rem;

}

.quote-display {
  margin: 20px 0;
  font-size: 1.5em;
  color: #333;
}

button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }

button:hover {
  background-color:#23c483;
}

.photo{
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  border: 5px solid #ccc;
  border-radius: 20%;
}

